{% extends 'ckanext_pages/edit_base.html' %}

{% block subtitle %}{{ _('Edit Page')}} {% endblock %}

{% block breadcrumb_content %}
<li><a href="{{ h.url_for('page_index') }}">{{ _('Pages') }}</a></li>
<li class="active"><a href="">{{ _('Edit Page') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  {% snippet form_snippet, page=page, data=data, errors=errors %}
{% endblock %}

{% block main_content %}
   {{ self.flash() }}
   {{ self.toolbar() }}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}
